        {<body style="background-color: lightblue; text-align: center;">
        <h1>Meu Primeiro Site</h1>
            <p>Estou aprendendo HTML!</p>

            <img src="https://via.placeholder.com/200" alt="Imagem exemplo">

            <br><br>

            <button>Clique aqui</button>

        </body>
        </html>
        }